@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/*GRAL*/ 

* { 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


$fonttxtheader: 'Metal Mania', cursive;
$colortxtheader: rgb(0, 0, 0);
$colortxt234: black;
$fonttxth234:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fuentesize:
xx-large
x-large
large
small
;
$txtalineacion:
left
center
right
;
%tipodeflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 /*FONDO PARA HTML*/

body {
    background: linear-gradient(to right, rgb(237, 237, 237)30%, rgb(167, 167, 162));  
}

/*HEADER Y MENU NAVEGACION*/

.navbar-nav li{    
    font-family: $fonttxth234;
    font-size: nth($fuentesize , 2 );
    color: black;   
    align-items: center ;
    padding: 0 1rem;
    &:hover{
        transform: translate(0, -2px);
    }     
    a{
        color: $colortxtheader;
        &:hover{
            color: rgb(100, 100, 100);
        }
    }       
}
.navbar {
   @extend %tipodeflex;
    img {
        width: 5rem;
        height: 5rem;
    }
}



/*TITULO PRINCIPAL*/

h1 {
    font-family: $fonttxtheader;
    color: $colortxtheader;
}

h2 {
    color:$colortxt234;
    font-family: $fonttxth234;
    font-size: nth($fuentesize, 1 );
    text-align: nth($txtalineacion, 2);    
    margin: 3rem 0;   
}

h3 {
    color:$colortxt234;
    font-family: $fonttxth234;
    font-size: nth($fuentesize, 2 );
    text-align: nth($txtalineacion, 2);
    margin: 3rem 0;
}

  /*FOOTER*/

footer {  
    font-family: $fonttxth234;
    font-size: nth($fuentesize, 2 );    
    @extend %tipodeflex;
    padding: 0 0.5rem;
    border-top: solid 5px black;
    img {
        width: 3rem;
        height: 3rem;
    }
    p{
        margin-top: 1rem;
        color: black;
    }
}

.footerredes {
    text-decoration: none;
    @extend %tipodeflex;
    img {
        margin: 0 0.625rem;
    }
}


