@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/*GRAL*/ 

* { 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

$fondohtml: whitesmoke;
$fonttxtheader: 'Metal Mania', cursive;
$colortxtheader: rgb(0, 0, 0);
$colortxt234: black;
$fonttxth234:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fuentesize:
xx-large
x-large
large
small
;
$txtalineacion:
left
center
right
;
%tipodeflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 /*FONDO PARA HTML*/

body {
    background-color: $fondohtml;  
}

/*HEADER Y MENU NAVEGACION*/

header {    
    background-color: $fondohtml;
    width: 100%;
    height: 6.5rem;    
    position: sticky;
    top: 0;
    ul {
        list-style: none;
    }
    li {
        list-style: none;
    }
    a {
        color: $colortxtheader;
        font-size: nth($fuentesize, 1 );
        font-weight: 750;
        font-family: $fonttxth234;
        text-transform: uppercase;
        &:hover {
            color: rgb(101, 101, 101);
        }
    }
}

.navbar {
   @extend %tipodeflex;
    img {
        width: 5.6rem;
        height: 5.6rem;
    }
}

/*TITULO PRINCIPAL*/

h1 {
    font-family: $fonttxtheader;
    color: $colortxtheader;
}

h2 {
    color:$colortxt234;
    font-family: $fonttxth234;
    font-size: nth($fuentesize, 1 );
    text-align: nth($txtalineacion, 2);    
    margin: 3rem 0;   
}

h3 {
    color:$colortxt234;
    font-family: $fonttxth234;
    font-size: nth($fuentesize, 2 );
    text-align: nth($txtalineacion, 2);
    margin: 3rem 0;
}

  /*FOOTER*/

footer {  
    font-family: $fonttxth234;
    font-size: nth($fuentesize, 2 );
    background-color: $fondohtml;
    height: 100%;
    @extend %tipodeflex;
    padding: 0 0.625rem;
    border-top: solid 5px black;
    img {
        width: 3.125rem;
        height: 3.125rem;
    }
}

.footerredes {
    text-decoration: none;
    @extend %tipodeflex;
    img {
        margin: 0 0.625rem;
    }
}


