 $h2cntcolor: rgb(255, 255, 255);
 $fonttxth234: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 $txtinput: rgb(255, 255, 255);
 $fuentesizeform:
 xx-large
 x-large
 large
 medium; 

 %tipoflexctc {
  display: flex;
    flex-direction: row;
}
 
 /*CONTACTO*/

 form {
    width: 100%;
    height: 100vh;   
    background-image: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url(../img/fondo3.jpg);
    padding: 0.6rem;
  }

/*escribenos*/

  .form-ctc h2 {
    color:$h2cntcolor;
    font-weight: 400;
  }

  /*txt para completar*/

  form input {
    width: 100%;
    font-size: nth($fuentesizeform , 2 );
    border: none;
    color: $txtinput;
    background-color: transparent;
    border-bottom: 2px solid black;
    padding-bottom: 0.9rem;
  }

  /*txt para completar*/

  form input::placeholder {
    color: $txtinput;
  }

  /*txt para completar*/

  form textarea {
    width: 100%;
    height: 12rem;
    font-family: $fonttxth234;
    font-size: nth($fuentesizeform , 2 );
    border: none;
    color: $h2cntcolor;
    background-color: transparent;
    border-bottom: 2px solid black;
  }

  /*txt para completar*/

  form textarea::placeholder {
    color: $h2cntcolor;
  }

/*menu desplegable*/

  .elegir {
    color: $h2cntcolor;
    padding: 0.6rem 0;   
    font-family: $fonttxth234;
    font-size: nth($fuentesizeform , 2 );
  }

  select {
    font-size: nth($fuentesizeform , 2 );
    font-family: $fonttxth234;
    background-color: transparent;
  }

  /*formato de bootstrap*/

  .form-bs {
    @extend %tipoflexctc;
    color: $txtinput;
    font-family: $fonttxth234;
    font-size: nth($fuentesizeform , 2 );
    padding-right: 0.6rem;
  }  

  /*boton enviar*/

  form .btn {
    width: 50%;
    background-color: rgb(55, 55, 55);
    color: $txtinput;
    font-size: nth($fuentesizeform , 2 );
    text-transform: uppercase;
    font-family: $fonttxth234;
    border-radius: 0.6rem;
    box-shadow: 0 0.9rem 0.9rem 0 rgba(0, 0, 0, 0.9);
    margin-top: 1rem;
    padding: 0.6rem;
  }

  @media(max-width: 768px){
    .dch {
      background-image: none;
    }
  }