$colortxtdisc: rgb(0, 0, 0);
$fonttxth234: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fuentesize: 
    xx-large
    x-large
    large
    small
  ;
  %tipoflexbioDisc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /*formato txt discos*/
  .discos {
    @extend %tipoflexbioDisc;
    color: $colortxtdisc;
    padding: 0.6rem 0.6rem;
    font-size: nth($fuentesize, 2);
    h3 {
      font-size: nth($fuentesize, 1 );
      text-decoration: underline;     
    }
    img {
      width: 31rem;
      height: 31rem;        
    }   
    ul{
      margin-top: 1rem;
    }
    li{
      margin: 0.2rem 0;
    }

  }

  .discos h4 {
    font-family: $fonttxth234;
    font-size: nth($fuentesize, 2); 
    text-decoration: underline;
    padding-bottom: 0.6rem;
    text-align: center;
  }

/*ESTILO LISTA DE CANCIONES*/

  ul {    
    li {      
      font-family: $fonttxth234;
      text-align: center;
    }
  } 

  